/* st-print.css */

@media print{@page {size: landscape}}

body{ 
	margin: -5% 2px 2px -5%;
	transform:scale(.8);
}

label {
	display: none;
}

.st-button {
	display: none;
}

.st-header {
	display: none;
}

#systemName {
	border: none;
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
	font-size: 26px;
}